<div class="layout-content">
  <div class="layout-content-form">
    <div class="layout-content-title">
      <h3>Forgotten Password ?</h3>
      {{! <span>After receiving the receipt there will be an OTP code in your email and valid for one minute</span> }}
      <span>Enter your email and phone number to reset your password</span>
    </div>
    <div class="form-forgot-password-tab">
      <form action="/send-email" method="POST" id="form-send-email">
        <div class="layout-content-form-tab-login">
          <div class="layout-content-group layout-content-group-login">
            <label class="layout-label">Email</label>
            <input
              type="text"
              name="email"
              class="layout-content-input email-form-send"
              placeholder="Email"
            />
          </div>
          <div class="layout-content-group layout-content-group-login">
            <label class="layout-label">Phone number</label>
            <input
              type="text"
              name="phonenumber"
              class="layout-content-input"
              placeholder="Phone number"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="form-forgot-password-tab">
      <form action="/OTP" method="POST" id="form-OTP">
        <div class="layout-content-form-tab-login">
          <div class="layout-content-group layout-content-group-login">
            <label class="layout-label">enter OTP (code consists of 6 numbers)</label>
            <input
              type="text"
              name="otp"
              class="layout-content-input"
              placeholder="enter OTP"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="form-forgot-password-tab">
      <form action="/reset-pass" method="POST" id="form-reset-pass">
        <div class="layout-content-form-tab-login">
          <div class="layout-content-group layout-content-group-login">
            <label class="layout-label">New Password</label>
            <input
              type="password"
              name="newpassword"
              class="layout-content-input"
              placeholder="New Password"
            />
          </div>
          <div class="layout-content-group layout-content-group-login">
            <label class="layout-label">Comfirm new password</label>
            <input
              type="password"
              name="comfirmnewpassword"
              class="layout-content-input"
              placeholder="Comfirm new password"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="form-btn">
      <button
        class="btn btn-previous"
        type="button"
        onclick="nextTabFormForgotPassword(-1)"
      >Previous</button>
      <button
        class="btn btn-next"
        type="button"
        onclick="nextTabFormForgotPassword(1)"
      >Next</button>
      <button class="btn btn-create-account" type="button">Submit</button>
    </div>
    <div class="copy-right">
      <span>2022© <strong>Keenthemes</strong></span>
    </div>
  </div>
</div>